<style>
  .btn-space {
    margin-right: 10px;
  }

  myModal {
    z-index: 2147483647;
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.4;
  }
</style>

<div ng-init="vm.init()">
  <div
    class="container"
    style="overflow-y: auto; overflow-x: hidden; height: 425px"
  >
    <form>
      <div class="mx-auto" style="width: 200px;">
        <h5 class="modal-title">{{vm.tituloTela}}</h5>
      </div>
      <div class="form-group">
        <label for="nomePerfil"><strong>Nome</strong></label>
        <input
          type="nome"
          class="form-control"
          id="nomePerfil"
          ng-model="vm.perfil.nome"
          placeholder="Digite o nome do perfil ..."
        />
      </div>
      <div class="form-group">
        <label for="descricaoPerfil"><strong>Descrição</strong></label>
        <textarea class="form-control" rows="4" id="descricaoPerfil" placeholder="Digite a descrição..." ng-model="vm.perfil.descricao"></textarea>
      </div>

      <hr>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="dataInclusao"><strong>Data de inclusão</strong></label>
          <p ng-if="vm.perfil.dataHoraInclusao">{{vm.perfil.dataHoraInclusao | date:'dd/MM/yyyy HH:mm'}}</p>
          <p ng-if="!vm.perfil.dataHoraInclusao">Data não cadastrada</p>
        </div>
        <div class="form-group col-md-6">
          <label for="dataAtualizacao"><strong>Data de atualização</strong></label>
          <p ng-if="vm.perfil.dataHoraAlteracao">{{vm.perfil.dataHoraAlteracao | date:'dd/MM/yyyy HH:mm'}}</p>
          <p ng-if="!vm.perfil.dataHoraAlteracao">Data não cadastrada</p>
        </div>
      </div>
      <small style="color:red">As datas de inclusão e atualização são atualizadas automaticamente no servidor.</small>
    </form>
  </div>
  <div
    class="row"
    style="float: right; padding-top: 30px; padding-right: 20px;"
  >
    <button
      type="button"
      class="btn btn-primary btn-space"
      ng-click="vm.incluir(vm.pessoa)"
    >
      Salvar
    </button>
    <button type="button" class="btn btn-danger" ng-click="vm.cancelar()">
      Cancelar
    </button>
  </div>
</div>
