<style>
  .btn-space {
    margin-right: 10px;
  }

  myModal {
    z-index: 2147483647;
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.4;
  }
</style>

<div ng-init="vm.init()">
  <div
    class="container"
    style="overflow-y: auto; overflow-x: hidden; height: 447px"
  >
    <form>
      <label for="dataInclusao"><strong>CEP</strong></label>
      <div class="input-group">
        <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="11" class="form-control" required placeholder="Digite o cep aqui..." ng-model="vm.enderecoModal.cep">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" ng-click="vm.buscarCEP()" type="button">Buscar</button>
        </div>
      </div>  
      <!-- Colocar ng-if para quando obtiver resultado -->
      <small style="color:red" ng-if="vm.modalCep.invalid">Formato inválido</small>
      <small style="color:royalblue" ng-if="vm.modalCep.successfulQuery">Informações obtidas em viacep</small>
      <hr>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="dataInclusao"><strong>Uf</strong></label>
          <select class="form-control" 
          ng-model="vm.enderecoModal.uf">
          <option value="" disabled>-- UF --</option>
          <option ng-repeat="item in vm.listaUF" value="{{item.id}}">{{item.desc}}</option>
          </select>
        </div>
        <div class="form-group col-md-9">
          <label for="cidade"><strong>Cidade</strong></label>
          <input type="text" placeholder="Digite aqui..." class="form-control" ng-model="vm.enderecoModal.localidade">
        </div>
      </div>
      <div class="form-group">
        <label for="bairro"><strong>Bairro</strong></label>
        <input type="text" placeholder="Digite aqui..." class="form-control" ng-model="vm.enderecoModal.bairro">
      </div>
      <div class="form-group">
        <label for="longradouro"><strong>Longradouro</strong></label>
        <input
          type="nome"
          class="form-control"
          id="longradouro"
          ng-model="vm.enderecoModal.logradouro"
          placeholder="Digite o longradouro..."
        />
      </div>
      <div class="form-group">
        <label for="complemento"><strong>Complemento</strong></label>
        <input type="nome" class="form-control" id="complemento" ng-model="vm.enderecoModal.complemento" placeholder="Digite o complemento..."/>
      </div>
    </form>
  </div>
</div>
